body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #357cbd;
  font-size: 14px;
  position: relative;
}

.tasks_board {
  max-width: 1900px;
  min-width: 600px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 10px 0;
}

/* Стили колонок */

.tasks-column {
  width: 400px;
  min-width: 400px;
  background-color: #dde1e4;
  border-radius: 5px;
  margin-right: 10px;
  padding: 0 15px;
  color: #283f4f;
  display: flex;
  flex-direction: column;
}

.tasks-column:first-child {
  margin-left: 10px;
}

/* Стили хедера в колонках */

.tasks-column__column-header {
  padding: 12px 8px 10px;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
}

.tasks-column__header-text {
  text-transform: uppercase;
  font-weight: 700;
}

.tasks-column__header-button {
  border: none;
  border-radius: 5px;
  background-color: #dde1e4;
  padding: 0;
  width: 25px;
  background-image: url('../img/icons/859.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  cursor: pointer;
}

.tasks-column__header-button:hover {
  background-color: #bebebe;
}

.tasks-column__header-button-image {
  width: 100%;
}

/* Стили задач в колонках */

.tasks-column__task-container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0px 0px;
  margin-bottom: 10px;
  box-shadow: 0px 2px #abb4bc;
  position: relative;
  overflow-wrap: break-word;
}

.tasks-column__task-container:hover {
  cursor: pointer;
}

.tasks-column__task-image-container {
  border-radius: 5px 5px 0 0;
  background-color: #283f4f;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.tasks-column__task-text {
  padding: 5px 8px;
}

.tasks-column__delete-task-button {
  border: none;
  border-radius: 5px;
  width: 25px;
  position: absolute;
  top: 3px;
  right: 5px;
  display: none;
  transition-duration: 100ms;
}

.tasks-column__task-container:hover .tasks-column__delete-task-button {
  display: block;
  cursor: pointer;
}

.tasks-column__delete-task-button:hover {
  transform: rotate(360deg);
  transition-duration: 200ms;
  transition-delay: 500ms;
  transition-property: transform;
}

/* Стили футера в колонках */

.tasks-column__column-footer {
  padding: 5px 0px 10px;
  color: #6e7f8a;
}

.tasks-column__footer-button {
  border: none;
  border-radius: 5px;
  background-color: #dde1e4;
  padding: 3px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.tasks-column__footer-button:hover {
  background-color: #bebebe;
}

.tasks-column__footer-text-element {
  padding: 0;
  margin: 0;
  margin-right: 10px;
  width: 13px;
  background-color: #6e7f8a;
  height: 2px;
  border-radius: 2px;
  position: relative;
}

.tasks-column__footer-button {
  cursor: pointer;
}

.tasks-column__footer-text-element::before {
  content: '';
  height: 2px;
  left: 0px;
  background-color: #6e7f8a;
  width: 100%;
  display: inline-block;
  position: absolute;
  transform: rotate(90deg);
  border-radius: 2px;
}

.tasks-column__footer-text-content {
  color: #6e7f8a;
}

/* Для новых элементов */

.tasks-column__new-task-card {
  border-radius: 5px;
}

.tasks-column__new-task-image-container {
  border-radius: 5px 5px 0 0;
  background-color: #283f4f;
  background-repeat: no-repeat;
  background-position: center center;
}

.tasks-column__new-task-card-text-element {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 8px;
  box-shadow: 0px 2px #abb4bc;
  overflow-wrap: break-word;
  color: #283f4f;
  width: 100%;
  min-height: 50px;
  max-height: 150px;
  resize: vertical;
  border: none;
}

.tasks-column__new-task-card-text-element:focus {
  outline: none;
}

.tasks-column__new-task-form {
  display: flex;
  align-items: stretch;
}

.tasks-column__new-task-button {
  border: none;
  border-radius: 5px;
  background-color: #4165c8;
  padding: 5px 10px;
  color: #d9d9d9;
  margin-right: 5px;
  display: block;
}

.tasks-column__new-task-button:hover {
  background-color: #314c98;
  cursor: pointer;
}

.tasks-column__new-task-image-group {
  position: relative;
}

.tasks-column__new-task-image-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
}

.tasks-column__new-task-image-button {
  height: 100%;
  background-color: #4165c8;
  width: 40px;
  border: none;
  border-radius: 5px;
  background-image: url(../img/icons/image.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  display: block;
}

.tasks-column__new-task-image-input:hover + .tasks-column__new-task-image-button {
  background-color: #314c98;
  cursor: pointer;
}

.tasks-column__new-task-image-button:hover {
  background-color: #314c98;
  cursor: pointer;
}

.tasks-column__new-task-cancel-button {
  border: none;
  border-radius: 5px;
  background-color: #d54040;
  padding: 5px 10px;
  margin-left: auto;
  color: #d9d9d9;
  display:block;
}

.tasks-column__new-task-cancel-button:hover {
  background-color: #a33232;
  cursor: pointer;
}

/* стили элементов при перетаскивании */ 

.task-column__ghost-element {
  background-color: #bebebe;
  box-shadow: none;
}

.task-dragged {
  position: fixed;
  transform: rotate(-3deg);
  /* pointer-events: none; */
  z-index: 999;
  cursor: grabbing;

}

.task-dragged:hover {
  cursor: grabbing;
}

.task-column__ghost-space {
  background-color: #7bc884;
  border-radius: 5px;
  margin-bottom: 8px;
}